<section id="field">
	<h1>Spiel</h1>
	<div id="players_turn" class="popup">
		<h2>Am Zug</h2>
		<div class="spieler1">
			<div class="playerimg spieler1"></div>
			<h3>Spieler 1</h3>
			<div class="clear"></div>
		</div>
		<div class="spieler2">
			<div class="playerimg spieler2"></div>
			<h3>Spieler 2</h3>
			<div class="clear"></div>
		</div>
	</div>
	<div id="ergebnis" class="popup">
		<h1>Ergebnis</h1>
		<span class="player">Spieler 1</span> 
		<span class="has">hat</span>
		<span class="won">gewonnen</span>
		<span class="draw">Unentschieden</span>
	</div>
	<div id="container" class="container" style="position: relative; width:700px;height:700px; margin:0% auto;	">	
		<canvas id="gameFieldLayer" width="700" height="700" style="margin: 0% auto; position: absolute;  left: 0;  top: 0;  z-index: 1;"></canvas>
	</div>
	<!--<a id="show_turn" href="#">Show Popup</a>-->
</section>	